body {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 280px 1fr 150px;
  grid-template-areas: "contacts lang lang"
                       "contacts me none";
  background: #201717 url("img/keyboard.jpg") no-repeat 50%;
}

main {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-areas: "educ CV"
                       "educ experience";
  background: #cbcbcb url("img/font.jpg") no-repeat 40%;
}

.lang {
  grid-area: lang;
  justify-self: end;
  align-self: start;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: contacts;
  background-color: rgba(180, 0, 0, 0.4);
}

.me {
  grid-area: me;
  justify-self: center;
  align-self: center;
  width: 190px;
}

.educ {
  grid-area: educ;
  background-color: rgba(180, 0, 0, 0.4);
}

.CV {
  grid-area: CV;
  min-width: 340px;
}

.experience {
  grid-area: experience;
  min-width: 340px;
}
