body {
  margin: 0;
}

header {
  padding: 10px;
  display: grid;
  grid-template-columns: 280px 1fr 150px;
  grid-template-areas: "lang lang lang"
                       "contacts me none";
}

.lang {
  grid-area: lang;
  justify-self: end;
  align-self: start;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-area: contacts;
}

.me {
  grid-area: me;
  justify-self: center;
  align-self: center;
  width: 190px;
}
