header {
  background: #381717 url("img/keyboard.jpg") no-repeat 50%;
  height: 300px;
}

.header {
  display: grid;
  grid-template-columns: 270px 4fr;
}

body {
  margin: 0;
  display: grid;
}

ul {
  vertical-align: top;
  margin: 0;
}

.ru-en {
  text-align: right;
  padding: 0 10px 2px 0;
}

.contacts {
  width: 260px;
  height: 280px;
  list-style:none;
  margin: 0;
  padding-inline-start: 0;
  padding-right: 10px;
}

.contacts-item {
  width: 188px;
  height: 23px;
  margin: 12px auto;
  padding-top: 4px;
  text-align: center;
  background: rgba(25, 10, 10, 0.5);
  border: 1px solid rgb(50, 20, 20);
  border-radius: 8px;
  box-shadow: 0 0 4px 2px rgba(250, 200, 200, 0.3);
}

.contacts-link {
  padding: 7px;
}

.face-name {
  width: 300px;
  height: 280px;
  margin: 0;
}

.face {
    margin: 30px 0 0;
    background: rgba(240, 180, 180, 0.5);
    border: 1px solid rgb(50, 20, 20);
    border-radius: 8px;
    box-shadow: 0 0 4px 2px rgba(250, 200, 200, 0.3);
}

.name {
  text-align: center;
  color: white;
}
